<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.schoolairdroprefactoredition">

    <uses-sdk tools:overrideLibrary="com.google.zxing.client.android" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 写入扩展存储，向扩展卡写入数据，用于写入缓存定位数据 -->
    <uses-permission android:name="android.permission.requestLegacyExternalStorage" /> <!-- 用于申请调用A-GPS模块 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" /> <!-- 用于申请获取蓝牙信息进行室内定位 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <permission
        android:name="com.example.schoolairdroprefactoredition.permission.MIPUSH_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.schoolairdroprefactoredition.permission.MIPUSH_RECEIVE" />

    <application
        android:name=".application.SAApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo_218x"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".scene.iwant.IWantActivity"
            android:label="" />
        <activity
            android:name=".scene.settings.FeedbackActivity"
            android:label="" />
        <activity
            android:name=".scene.protocol.ProtocolActivity"
            android:label="" />
        <activity
            android:name=".scene.main.MainActivity"
            android:configChanges="locale|layoutDirection|orientation|screenSize|keyboardHidden"
            android:label="@string/app_name"
            android:theme="@style/splashScreenTheme"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="app.schoolairdrop.com"
                    android:path="/openapp"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.alipay.sdk.app.AlipayResultActivity"
            tools:node="merge">
            <intent-filter tools:node="replace">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="auth.schoolairdrop.com"
                    android:path="/alipaycallback"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".scene.ssb.MyPostActivity"
            android:label="" />
        <activity android:name=".scene.addnew.IWantTagActivity" />
        <activity
            android:name=".scene.user.UserActivity"
            android:label="" />
        <activity
            android:name=".scene.user.UserUpdateAvatarActivity"
            android:label="" />
        <activity
            android:name=".scene.user.UserUpdateNameActivity"
            android:label="" />
        <activity
            android:name=".scene.switchaccount.SwitchAccountActivity"
            android:label="" />
        <activity
            android:name=".scene.capture.CaptureActivity"
            android:label="" />
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:label=""
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" /> <!-- &lt;!&ndash; mipush &ndash;&gt; -->
        <activity
            android:name=".scene.user.UserModifyInfoActivity"
            android:label="" />
        <activity
            android:name=".scene.favorite.FavoriteActivity"
            android:label="" />
        <activity
            android:name=".scene.addnew.AddNewResultActivity"
            android:label="" />
        <activity
            android:name=".scene.base.PermissionBaseActivity"
            android:label="" />
        <activity
            android:name=".scene.settings.LoginActivity"
            android:label="" />
        <activity
            android:name=".scene.addnew.InputSetActivity"
            android:label=""
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".scene.addnew.AddNewActivity"
            android:label="" />

        <meta-data
            android:name="design_width_in_dp"
            android:value="360" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="640" />

        <activity
            android:name=".scene.ssb.SSBActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".scene.chat.ChatActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".scene.map.AMapActivity"
            android:label="" />

        <service
            android:name="com.amap.api.location.APSService"
            android:foregroundServiceType="location" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="000d70a1a333ed61daa264e000de94e1" />

        <activity
            android:name=".scene.goods.GoodsActivity"
            android:label="" />
        <activity
            android:name=".scene.settings.SettingsActivity"
            android:label="" />
    </application>

</manifest>